:root {
  --color-blue: #7380ec;
  --color-baby-blue: #99a1ee;
  --color-pink: #faa8af;
  --color-green: #abf1da;
  --color-yellow: #f8cf90;
  --color-white: #fff;
  --color-gray: #7d8da1;
  --color-light: #dce1eb;
  --color-dark: #363949;
  --color-light-a: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #2e388a;
  --color-dark-variant: #677483;
  --color-background: #f6f6f6;
  
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.App {
  background-color: var(--color-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background: var(--color-light);
  overflow: hidden;
  grid-template-columns: 11rem auto 20rem;
  gap: 16px;
}


/*media*/
@media screen and (max-width: 1200px) {

  .AppGlass{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 768px) {

  .AppGlass{
    grid-template-columns: 1fr;
  } 
  
}